@model IEnumerable<AgendaDeTurnos.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<p>
    @if (User.FindFirst(ClaimTypes.Role).Value == Rol.Administrador.ToString())
    {
        <h1>
            Turnos
        </h1>

        <a asp-action="Create">Create New</a>
        
        <h1>Mis Turnos</h1>

        <a asp-action="SelecionPrestacion">Pedir un turno </a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            @if (User.FindFirst(ClaimTypes.Role).Value != Rol.Paciente.ToString())
            {
                <th>
                    @Html.DisplayNameFor(model => model.Confirmado)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            @if (User.FindFirst(ClaimTypes.Role).Value == Rol.Profesional.ToString())
            {
                <th>
                    @Html.DisplayNameFor(model => model.Atendido)
                </th>
            }
            
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCancelacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            @if (User.FindFirst(ClaimTypes.Role).Value != Rol.Paciente.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmado)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            @if (User.FindFirst(ClaimTypes.Role).Value == Rol.Profesional.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Atendido)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCancelacion)
            </td>
            @if (User.FindFirst(ClaimTypes.Role).Value != Rol.Paciente.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Apellido) 
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Profesional.Apellido) 
                @Html.DisplayFor(modelItem => item.Profesional.Nombre)
            </td>
            <td>
                @if (User.FindFirst(ClaimTypes.Role).Value != Rol.Paciente.ToString() && !item.Confirmado && string.IsNullOrEmpty(item.DescripcionCancelacion))
                {
                    <a asp-action="Confirmar" asp-route-id="@item.Id"> Confirmar |</a>
                }

                @if ((User.FindFirst(ClaimTypes.Role).Value != Rol.Paciente.ToString() && item.Confirmado) || (item.Activo && item.Confirmado))
                {
                    <a asp-action="Cancelar" asp-route-id="@item.Id"> Cancelar |</a>
                }

                <a asp-action="Details" asp-route-id="@item.Id">Details |</a>

                @if (User.FindFirst(ClaimTypes.Role).Value == Rol.Profesional.ToString() && !item.Atendido && item.Confirmado && item.Activo)
                {
                    <a asp-action="Atendido" asp-route-id="@item.Id"> Atendido</a>
                }

            </td>
        </tr>
        }
    </tbody>
</table>
